.reveal .controls {
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid black; }

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  text-transform: none; }

.reveal h1.solo {
  font-size: 4em; }

.reveal p.contact {
  margin-top: 100px;
  text-align: right; }

.reveal p.large {
  font-size: 3.5rem; }

.reveal .in-place-fragments {
  position: relative;
  height: 200px; }
  .reveal .in-place-fragments .fragment {
    position: absolute;
    width: 100%; }

.reveal .box-fragments {
  position: fixed;
  width: 100%;
  height: 79%;
  top: 7%;
  left: 0; }
  .reveal .box-fragments .box-fragment {
    position: absolute;
    border: 6px solid red; }

.reveal .large-video {
  margin-top: -4%;
  max-width: 110%;
  margin-left: -5%; }

.reveal .video-mat {
  content: ' ';
  position: absolute;
  display: block;
  z-index: -1;
  width: 118%;
  height: 90%;
  top: 1.5%;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid black;
  margin-left: -9%; }

.reveal.center .slides section {
  min-height: 200px !important; }
